{% extends 'base.html' %}

    {% block head %}
        <title>profile</title>
    {% endblock %}

    {% block body %}
        <div class="container">
            <div class="col-md-4">
                {% if user.userprofile.image %}
                    <img src="{{ user.userprofile.image.url }}" class="img-rounded" width="240" height="240">
                {% endif %}
                <h4><b>{{ user.get_full_name }} </b><br> <small>@{{ user.username }}</small></h4>
                <p><h5>{{user.userprofile.description }}</h5></p>
                <p>{{ user.email }}</p>
                <p>Phone : {{ user.userprofile.phone }}</p>
                <p>from : {{ user.userprofile.city }}</p>
                <p>website : {{ user.userprofile.website }}</p>
            </div>
            <div class="col-md-4">
                {% for post in userpost %}
                 <div>

            <table style="width:100%">
                <tr>
                    <td colspan="3"><p style="float: left;"><img src="{{ post.user.userprofile.image.url }}"
                                                     height="25px" width="25px" border="1px" class="img-circle">&nbsp
                        </p>
                        <p><h6 ><b>{{ post.user.get_full_name }}</b> &nbsp <small>@{{ post.user.username }}
                        &nbsp {{ post.created }}
                </small></h6></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                         <h5>{{ post.post }}</h5><br>
                    </td>
                </tr>
                <tr style="color: #808080;">
                    <td colspan="1" align="center">
                            <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
                    </td>
                    <td colspan="1" align="center">
                            <span class="glyphicon glyphicon-retweet" aria-hidden="true"></span>
                    </td>
                    <td colspan="1" align="center">
                            <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                    </td><br>
                </tr>
            </table>
            </div>
        {% endfor %}

            </div>


        </div>

    {% endblock %}
